body, html {
 margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sub-zero {
  color: #168afd;
}

.scorpion {
  color: yellow;
}


.header {
   width: 100%;
    display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-around;
}

.status-group {
   
    display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.game-text-yellow {
  color: yellow;
  font-weight: bolder;
  font-style: italic;
}

.game-text-white {
  color: white;
  font-weight: bolder;
  font-style: italic;
}

.status-bar {
  background: red;
  height: 14px;
}

.status-bar::-moz-progress-bar {
    background: #008102;

}
.status-bar::-webkit-progress-bar {
    background: transparent;
 
}
.status-bar::-webkit-progress-value {
    background: #008102;
 
}

#game {
  padding: 40px;
  width: 100%;
  height: 100%; 
  background-color: black;
  display: flex; 
  flex-direction: column;
  align-items: center; 

}

